body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-image: url(../images/background.png);
}

.indicator-item {
    background-color: black;
}

a {
    font-family: 'Neucha', cursive;
}

.project-title {
    color: white;
    text-align: center;
    font-size: 3vh;
    background-color: #ffd54f;
}