body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-image: url(../images/background.png);
}
.carousel .indicators .indicator-item.active {
    background-color: #ffd54f;
}

.carousel .indicators .indicator-item {
    background-color: black;
}

.carousel .carousel-item {
    height: 300px;
}

a {
    font-family: 'Neucha', cursive;
}

.project-title {
    color: white;
    text-align: center;
    font-size: 3vh;
    background-color: #ffd54f;
}

h2 {
    text-align: center;
}

p {
    margin: 0;
}